@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Scott coffee store.</h1>
    <p>Click @Html.ActionLink("here", "Registration") to register for our premium coffee club.</p>
</div>
