@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3>Please enter your information in the following boxes.</h3>
<form method="post" asp-action="Summary">
    <label for="firstName">First name: </label>
    <input type="text" name="firstName" id="firstName" /><br />
    <label for="lastName">Last name: </label>
    <input type="text" name="lastName" id="lastName"/><br />
    <label for="email">Email: </label>
    <input type="email" name="email" id="email"/><br />
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" />
    <p>Please select your personality type:</p>

    <input type="radio" id="cool" name="personality" value="cool" />
    <label for="cool">Cool</label><br />
    <input type="radio" id="notCool" name="personality" value="not cool" />
    <label for="notCool">Not cool</label><br />
    <input type="submit" />
</form>


